html {
  font-family: Merriweather, serif;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
}

td {
  height: 10em;
}

li {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

.gray {
  background-color: #f2f2f2;
  border-color: #666;
  color: #333;
}

.red {
  background-color: #f2bcbc;
  border-color: #b92828;
  color: #991919;
}

.green {
  background-color: #d1e0bf;
  border-color: #6b7e54;
  color: #51603f;
}

.blue {
  background-color: #d2d6f0;
  border-color: #1d38da;
  color: #38448e;
}
